.resize-vertical {
    resize:vertical;
    overflow:auto;
    height: 80px !important;
}

.input-group-select {
    width: 74% !important;
}

.permission-box {
    margin-bottom: 20px;
}

.permission-box dd {
    margin-left: 40px;
}

.permission-box dt, .permission-box dd {
    padding: 5px 0;
}

.img-preview-sm {
    height: 200px;
}

.define-contract .list-a {
    padding: 0;
    list-style: none;
    margin: 0;
}

.define-contract .list-a li ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
}

.define-contract .list-a > li:first-child {
    background: #f5f5f5;
}

.define-contract .list-a li:not(:last-child) ul {
    border-bottom: 1px solid #ddd;
}

.define-contract .list-a li ul li:not(:last-child) {
    border-right: 1px solid #ddd;
}

.define-contract .list-a li ul li {
    padding: 10px 5px;
}

.define-contract .list-a li ul li:nth-child(1)  {
    width: 100px;
}

.define-contract .list-a.two-col li ul li:nth-child(2)  {
    width: calc(100% - 100px);
}

.define-contract .list-a.five-col li ul li:nth-child(2)  {
    width: calc(100% - 380px);
}

.define-contract .list-a.five-col li ul li:nth-child(3)  {
    width: 115px;
}

.define-contract .list-a.five-col li ul li:nth-child(4)  {
    width: 115px;
}

.define-contract .list-a.five-col li:not(:first-child) ul li:nth-child(3), .define-contract .list-a.five-col li:not(:first-child) ul li:nth-child(4)  {
    text-align: right;
}

.define-contract .list-a.five-col li ul li:nth-child(5)  {
    width: 50px;
    text-align: center;
}

.define-contract .list-a  {

}