.resize-vertical {
    resize:vertical;
    overflow:auto;
    height: 80px !important;
}

.input-group-select {
    width: 74% !important;
}

.permission-box {
    margin-bottom: 20px;
}

.permission-box dd {
    margin-left: 40px;
}

.permission-box dt, .permission-box dd {
    padding: 5px 0;
}

.img-preview-sm {
    height: 200px;
}

.fee-name h1 {
    text-transform: uppercase;
    margin: 15px 0 30px 0;
    font-weight: bold;
    font-size: 50px;
}

.textarea-group > .textarea-group-addon {
    display: block;
    border: 1px solid #E5E6E7;
    border-bottom: none;
    border-radius: 1px;
    color: inherit;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    padding: 9px 12px;
}

.panel .panel-heading > label {
    font-size: 14px;
}

.span-btn {
    cursor: pointer;
}