.resize-vertical {
    resize:vertical;
    overflow:auto;
    height: 80px !important;
}

.input-group-select {
    width: 74% !important;
}

.permission-box {
    margin-bottom: 20px;
}

.permission-box dd {
    margin-left: 40px;
}

.permission-box dt, .permission-box dd {
    padding: 5px 0;
}

.img-preview-sm {
    height: 200px;
}

.fee-name h1 {
    text-transform: uppercase;
    margin: 15px 0 30px 0;
    font-weight: bold;
    font-size: 50px;
}

.textarea-group > .textarea-group-addon {
    display: block;
    border: 1px solid #E5E6E7;
    border-bottom: none;
    border-radius: 1px;
    color: inherit;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    padding: 9px 12px;
}

.input-daterange .input-group-addon {
    padding: 6px 12px !important;
}

.panel .panel-heading > label {
    font-size: 14px;
}

.span-btn {
    cursor: pointer;
}

.text-white {
    color: #FFFFFF !important;
}

.numonly {
    text-align: right;
}

.define-contract .dataTables_wrapper {
    min-height: 291px;
    position: relative;
}

.define-contract .dataTables_wrapper table.dataTable {
    margin-top: 0px !important;
}

.define-contract .dataTables_wrapper > div:nth-child(1) {
    display: none;
}

.define-contract .dataTables_wrapper > div:nth-child(3) {
    position: absolute;
    bottom: 0;
    right: 5px;
}

.table th {
    white-space: nowrap;
}

/*.define-contract .table th:first-child {*/
    /*width: 1px !important;*/
/*}*/

.total-box input {
    font-size: 40px;
    padding: 30px;
}

.total-box label {
    height: 63px;
    font-size: 50px;
    line-height: 0.9;
    text-align: right;
}

/*#case-table table thead td th:first-child {*/
    /*width: 50px !important;*/
/*}*/